[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=Foodiary
Exec=Foodiary
Name=Foodiary
# translation example:
# your app name in German locale (de)
Name[de]=Foodiary

